.hero {
  display: flex;
  min-height: calc(100vh - 68px);
  overflow: hidden;
}

.hero__image {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
}

.hero__image img {
  width: 120%;
  height: 100%;
  z-index: 5;
  object-fit: contain;
}

.hero__image-overlay {
  position: absolute;
  background-color: var(--primary-color);
  inset: 0;
  z-index: -1;
}

.hero__image h2 {
  z-index: 1;
  color: var(--color-white);
  font-family: var(--playfair-display);
  line-height: 138px;
  font-weight: 700;
  font-size: 120px;
  position: absolute;
  bottom: 0;
  padding: 20px;
}

.hero__content {
  display: flex;
  flex-direction: column;
  flex: 1.22;
  justify-content: space-between;
}

.hero__content-info {
  display: flex;
  flex-direction: column;
  padding: 64px;
  flex: 1.5;
}

.hero__content-info h1 {
  font-size: 80px;
  font-family: var(--playfair-display);
  color: var(--secondary-color);
}

.hero__content-info p {
  padding: 32px 0 0 32px;
  font-family: var(--plus-jakarta-sans);
  color: var(--secondary-color);
  font-size: 18px;
  font-weight: 400;
}

.hero__content-buttons {
  display: flex;
  margin: 41px 0 0 41px;
  gap: 36px;
}

.hero__content-buttons> :first-child {
  padding: 20px;
  border-radius: 36px;
  min-width: 212px;
  border: none;
  background: var(--secondary-color);
  cursor: pointer;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
}

.hero__content-play-buttons img {
  width: 46px;
  aspect-ratio: 1;
  object-fit: contain;
}

.hero__content-play-buttons {
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 19px;
  color: var(--black-200);
  font-family: var(--plus-jakarta-sans);
  gap: 12px;
}

.hero__content-customers,
.hero__content-user {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1;
}

.hero__content-reviews {
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  padding: 32px 64px;
  gap: 20px;
}

.hero__content-customers h4 {
  font-size: 62px;
  font-weight: 400;
  font-family: var(--playfair-display);
}

.hero__content-customers p {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--plus-jakarta-sans);
  color: var(--secondary-color);
  opacity: 0.5;
}

.hero__content-user {
  padding-left: 20px;
  border-left: 1px solid rgba(2, 2, 2, 0.1);
  justify-content: space-between;
}

.hero__content-user p {
  font-size: 12px;
  font-weight: 400;
  line-height: 32px;
  font-family: var(--plus-jakarta-sans);
  color: var(--secondary-color);
  opacity: 0.8;
}

.hero__content-user img {
    width: 42px;
    height: 42px;
    object-fit: contain;
}