@import "../style.css";

.trending-sushi {
  display: flex;
  flex-direction: row;
}

.trending-sushi__content p:first-child {
  @include sushi-subtitle;
}

.trending-sushi__content h3 {
  @include sushi-title;
}

.trending-sushi__image img {
  width: 254px;
  height: 260px;
}